<launch>

  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_tf" args="0.03 0 0 3.1415 0 0 base_link laser" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf" args="0.1 0 0.07 0 0.5 0 base_link camera_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 1 map odom" />

  <node name="left_motor" pkg="phidgets" type="motor" output="screen" >
    <param name="name" value="left_motor" />
    <param name="_name" value="left_motor" />
    <param name="serial" value="473030" />
  </node>
  <node name="right_motor" pkg="phidgets" type="motor" output="screen" >
    <param name="name" value="right_motor" />
    <param name="_name" value="right_motor" />
    <param name="serial" value="470088" />
  </node>

  <node name="left_motor_controller" pkg="er_wheels" type="er_motor_controller_node" output="screen" ns="left_motor">
    <param name="invert_motor" value="false" />
  </node>
  <node name="right_motor_controller" pkg="er_wheels" type="er_motor_controller_node" output="screen" ns="right_motor">
    <param name="invert_motor" value="true" />
  </node>

  <node name="cartesian_motor_controller" pkg="er_wheels" type="er_cartesian_motor_controller_node" output="screen">
    <param name="left_motor_name" value="left_motor" />
    <param name="right_motor_name" value="right_motor" />
  </node>

  <node name="wheel_odometry" pkg="er_wheels" type="er_wheel_odometry_node" output="screen">
    <param name="left_motor_name" value="left_motor" />
    <param name="right_motor_name" value="right_motor" />
    <param name="left_motor_invert" value="false" />
    <param name="right_motor_invert" value="true" />
  </node>

  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node name="maze_map_node" pkg="ras_maze_map" type="ras_maze_map_node" output="screen">
    <param name="map_file" value="$(find ras_maze_map)/maps/lab_maze_2018.txt" />
  </node>

  <node name="slam" pkg="er_navigation" type="er_slam_node" output="screen">
    <param name="map_file" value="$(find ras_maze_map)/maps/lab_maze_2018.txt" />
  </node>

  <include file="$(find realsense_camera)/launch/sr300_nodelet_rgbd.launch" />

  <node name="pointcloud_to_2d_node" pkg="er_perception" type="er_pointcloud_to_2d_node" output="screen">
    <!-- note that the robots wheel axis will be at 0, thus if we position the camera correctly in 3d, ground will be negative (optimally at -wheel_radius)-->
    <param name="min_height" value="-0.015" />
    <param name="range" value="0.005" />
  </node>


  <node name="obstacle_detection_node" pkg="er_perception" type="er_obstacle_detection_node" output="screen">
    <!-- note that the robots wheel axis will be at 0, thus if we position the camera correctly in 3d, ground will be negative (optimally at -wheel_radius)-->
    <param name="range" value="0.3" />
    <param name="threshold" value="50" />
  </node>

  <node name="simple_object_detector_node" pkg="er_perception" type="er_simple_object_detector_node.py" output="screen">
  </node>


</launch>
